<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="Settings.tt" #>
#include "RowVectors.h"
<#
Func<int,int,string> simplebody = (y,x) => String.Join("", Enumerable.Range(1, x).Select(r => $"RV_{y} M{r};"));
Func<int, string> simpleouter = (y) =>String.Join(Environment.NewLine, Enumerable.Range(2, y).SelectMany(r=>Enumerable.Range(2, y).Select(c => $"// Defines a matrix that is [{r}] rows by [{c}] columns {Environment.NewLine} struct M_{r}x{c} {{{simplebody(c,r)}}};")));
#>
<#=simpleouter(dim)#>