<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="Settings.tt" #>
#include "RowVectors.h"
#include "ColumnVectors.h"
<#
Func<int,string> simplebody = (x) => "return {" + String.Join(",", Enumerable.Range(1, x).Select(c => $"value.N{c}")) +"};";
Func<int, string> simpleouter = (x) => String.Join(Environment.NewLine, Enumerable.Range(2, x-1).Select(c => $"// Transposes a rowvector that has [{c}] columns to a columnvector {Environment.NewLine} CV_{c} Transpose(RV_{c} value) {{{simplebody(c)}}};"));
#>
<#=simpleouter(dim)#>